@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.countdown-container {
    background-color: #ff5703;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}


.text{
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.1rem;
}

.texto-gatilho{
    text-align: center;
    background-color: #000000;
    color: #faf6f6;
}

